{% extends "base.html" %}
{% block title %}Register{% endblock %}

{% block content %}
    <div class="row justify-content-center">
        <form action="{{ url_for('auth.register') }}" method="post" class="col-md-6">
            {{ form.hidden_tag() }}
            <h2 class="text-center mb-4">Ro'yxatdan o'tish</h2>
            <div class="mb-3">
                {{ form.name.label(class="form-label") }}
                {{ form.name(class="form-control form-control-lg") }}
            </div>
            <div class="mb-3">
                {{ form.username.label(class="form-label") }}
                {{ form.username(class="form-control form-control-lg") }}
            </div>
            <div class="mb-5">
                {{ form.password.label(class="form-label") }}
                {{ form.password(class="form-control form-control-lg") }}
            </div>
            {{ form.submit(class="btn btn-lg btn-success d-block mx-auto") }}
        </form>
        <p class="text-center mt-4">Hisobingiz allaqachon bormi? <a href="{{ url_for('auth.login') }}">Bu yerga kiring!</a></p>
    </div>
{% endblock %}